@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidenav-icons {
    @apply text-2xl text-gray-600 hover:text-white transition duration-150;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.font-main {
  font-family: Consolas, 'Courier New', monospace;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.code {
  counter-reset: line;
  font-size: 1.2rem;
  line-height: 2rem;
}

.line::before {
  content: counter(line);
  counter-increment: line;
  margin-right: 1rem;
  color: grey;
}

.next,
.tailwindcss,
.react,
.next-auth,
.tmdb-api,
.chakra-ui,
.sanity,
.firebase,
.redux {
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  margin: 0.3rem 0.4rem 0.5rem 0.4rem;
}

.next:first-child,
.react:first-child {
  margin-left: 0;
}

.next {
  border: 2px solid #2563eb;
  border-radius: 15px;
}

.tailwindcss {
  border: 2px solid #14b8a6;
  border-radius: 15px;
}

.react {
  border: 2px solid #3b82f6;
  border-radius: 15px;
}

.chakra-ui {
  border: 2px solid #2dd4bf;
  border-radius: 15px;
}

.next-auth {
  border: 2px solid #6b7280;
  border-radius: 15px;
}

.sanity {
  border: 2px solid #dc2626;
  border-radius: 15px;
}

.firebase {
  border: 2px solid #f59e0b;
  border-radius: 15px;
}

.redux {
  border: 2px solid #c084fc;
  border-radius: 15px;
}

.html5 {
}
